<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= curr.name %></title>
	<style>
		body {
			background: black;
			cursor: none;
			overflow: hidden;
			color: white;
		}
		.images {
			min-height: 3em;
		}
		.container {
			overflow: hidden;
		}
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
		.show-cursor {
			cursor: auto;
			overflow: auto;
		}
		a {
			color: white;
			text-decoration: none;
			background-color: #444;
		}
		a:hover,
		a.active {
			background-color: #666;
		}
		.controls {
			text-align: center;
			margin: 1em;
		}
		.controls a {
			display: inline-block;
			padding: 0.3em 0.6em;
		}
		.dirs a {
			display: block;
			padding: 0.3em 0.6em;
			margin: 0.6em 0;
		}
		.nav {
			display: none;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			text-align: center;
			background: #444;
			line-height: 1;
			vertical-align: middle;
		}
		.nav:hover {
			display: block;
		}
		.nav a {
			display: inline-block;
			padding: 1em;
			vertical-align: middle;
		}
		.show-cursor .nav {
			display: block;
		}
		.right {
			position: absolute;
			right: 1em;
			top: 0;
		}
		.right > a {
			float: right;
		}
		.left {
			float: left;
		}
		.notify {
			background: #444;
			padding: 1em;
			position: fixed;
			top: 2em;
			right: 2em;
			width: 16em;
			display: none;
		}
		.bookmark-menu {
			display: none;
			margin-top: 3em;
		}
		.bookmark-menu a {
			display: block;
		}
		.dir-search-box {
			width: 100%;
		}
		.show {
			display: block;
		}
		@supports (-webkit-appearance:none) {
			body {
				overflow: auto;
			}
		}
	</style>
	<style id="hide-cursor-style">
		::-webkit-scrollbar {
			display: none;
		}
	</style>
	<script src="/mousetrap-js/mousetrap.js"></script>
	<script src="/fetchival/index.js"></script>
	<script>
		var cv = <%- comicViewer %>,
			match;
		
		// check isfile
		if (cv.isFile) {
			location.href = "/view?path=" + encodeURIComponent(cv.curr.dir) + "#" + cv.curr.name;
		}
	</script>
	<script src="/viewer.js"></script>
</head>
<body>
	<div class="container">
		<div class="container-inner">
			<div class="nav">
				<a class="title main"><%= curr.name %></a>
				<div class="right">
					<a class="command-explorer">Explorer</a>
					<a class="command-bookmarks">Bookmarks</a>
					<div class="bookmark-menu"></div>
				</div>
			</div>
			<div class="images">
				<% files.forEach(function(file){ 
					if (/\.(jpg|jpeg|png|gif)$/i.test(file.name)) { %>
						<img src="/src?path=<%= encodeURIComponent(file.full) %>" id="<%= file.name %>">
					<% }
				}) %>
			</div>
			<% if (dirs.length) { %>
				<div class="dir-controls">
					<input type="text" class="dir-search-box">
				</div>
			<% } %>
			<div class="dirs">
				<% dirs.forEach(function(file){ %>
					<a href="/view?path=<%= encodeURIComponent(file.full) %>" id="<%= file.name %>"><%= file.name %></a>
				<% }) %>
			</div>
			<div class="controls">
				<% if (prev) { %>
					<a href="/view?path=<%= encodeURIComponent(prev.full) %>" id="prev" title="<%= prev.name %>">Prev</a>
				<% } %>
				<a href="/view?path=<%= encodeURIComponent(curr.dir) + "#" + curr.name %>" title="<%= curr.dirname %>">..</a>
				<% if (next) { %>
					<a href="/view?path=<%= encodeURIComponent(next.full) %>" id="next" title="<%= next.name %>">Next</a>
				<% } %>
			</div>
		</div>
	</div>
	<div class="layers">
		<div class="notify"></div>
	</div>
</body>
</html>