<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		body {
			background: black;
			cursor: none;
			overflow: hidden;
		}
		.container {
			overflow: hidden;
		}
		img {
			display: block;
			margin: 0 auto;
			max-width: 100%;
		}
		.show-cursor {
			cursor: auto;
			overflow: auto;
		}
		.controls {
			text-align: center;
		}
		a {
			color: white;
			text-decoration: none;
			background-color: #444;
		}
		a:hover {
			background-color: #666;
		}
		.controls {
			padding: 1em;
		}
		.controls a {
			display: inline-block;
			padding: 0.3em 0.6em;
		}
		@supports (-webkit-appearance:none) {
			body {
				overflow: auto;
			}
		}
	</style>
	<style id="hide-cursor-style">
		::-webkit-scrollbar {
			display: none;
		}
	</style>
	<script src="/jquery/jquery.js"></script>
	<script>
		var cv = <%- comicViewer %>;
		
		// check isfile
		if (cv.isFile) {
			location.href = "/view?path=" + encodeURIComponent(cv.curr.dir) + "#" + cv.curr.name;
		}
		
		function handleKeydown(e) {
			if (e.which == 221) {
				location.href = "/view?path=" + encodeURIComponent(cv.next.full);
			} else if (e.which == 219) {
				location.href = "/view?path=" + encodeURIComponent(cv.prev.full);
			}
		}
		
		var panel = function(){
			var timer, x, y, hideStyle = $("#hide-cursor-style");
			
			function show(e) {
				var w = $(window).width(),
					scrTop = $(window).scrollTop();
				$("body").addClass("show-cursor");
				hideStyle.remove();
				$(".container-inner").css("margin-right", $(window).width() - w + "px");
				$(window).scrollTop(scrTop);
				timer = setTimeout(hide, 1000);
			}
			
			function hide() {
				hideStyle.appendTo("head");
				$("body").removeClass("show-cursor");
				$(".container-inner").css("margin-right", "");
				timer = null;
			}
			
			function handleMove(e) {
				// sometimes e.screenX and e.screenY will be 0
				if (!e.screenX && !e.screenY) {
					return
				}
				if (x == null && y == null) {
					x = e.screenX;
					y = e.screenY;
					return;
				}
				// chrome fires move event even not moving
				if (e.screenX == x && e.screenY == y) {
					return;
				}
				x = e.screenX;
				y = e.screenY;
				if (timer) {
					clearTimeout(timer);
					timer = setTimeout(hide, 1000);
					return;
				}
				show();
			}
		
			return {
				handleMove: handleMove
			};
		}();
		
		$(document).keydown(handleKeydown);
		$(document).mousemove(panel.handleMove);
	</script>
</head>
<body>
	<div class="container">
		<div class="container-inner">
			<div class="images">
				<% files.forEach(function(file){ %>
					<img src="/src?path=<%= encodeURIComponent(file.full) %>" id="<%= file.name %>">
				<% }) %>
			</div>
			<div class="dirs">
				<% dirs.forEach(function(file){ %>
					<a href="/view?path=<%= encodeURIComponent(file.full) %>"><%= file.name %></a>
				<% }) %>
			</div>
			<div class="controls">
				<% if (prev) { %>
					<a href="/view?path=<%= encodeURIComponent(prev.full) %>" id="prev">Prev</a>
				<% } %>
				<a href="/view?path=<%= encodeURIComponent(curr.dir) %>">..</a>
				<% if (next) { %>
					<a href="/view?path=<%= encodeURIComponent(next.full) %>" id="next">Next</a>
				<% } %>
			</div>
		</div>
	</div>
</body>
</html>